.search{
    padding: 10px;
    width: 40ex;
    margin-left: 40%;
  }
  .container {
    padding-top: 10%;
  }

  .list-group{
      /*padding-left: 50px;*/
      float:right;
      font-family: Georgia, serif;
      font-size: 1.3em;
      margin-left: 7%;
      margin-top: 8%;
  }

  .planta{
      margin-left: 4%;
      /*padding-right: 10px;*/
    }

    .image-parent{
        padding-right: 7px;
    }